@import './checkbox';
@import './animate';
@import './style';

.tags {
    display: inline-flex;
    flex-wrap: nowrap;
    margin-bottom: 0 !important;
}

.tag {
    margin-bottom: 0 !important;
}

.tag.is-warning,
.tag.is-danger {
    cursor: pointer;
}

.level.is-mobile .level-item {
    margin-right: 0;
}

.level-item {
    margin-bottom: 0.75rem;
}

.icon {
    vertical-align: sub;
}

.modal {
    align-items: flex-start;
    padding-top: 3%;
}

.modal-card-head {
    background-color: #3273dc;

    * {
        color: white;
    }
}

.modal-card-foot {
    justify-content: flex-end;
    padding-top: 0;
    border: none;
    background-color: white;
}
