@import "./style";

.tags {
    display: inline-flex;
    margin-bottom: 0 !important;
}

.tag {
    margin-bottom: 0 !important;
}

.tag.is-warning,
.tag.is-danger {
    cursor: pointer;
}

.level.is-mobile .level-item {
    margin-right: 0;
}

.level-item {
    margin-bottom: 0.75rem;
}
