// mixin
@mixin media($amount, $point) {
    @media screen and (#{$amount}-width: #{$point}px) {
        @content;
    }
}

@import './checkbox';
@import './switcher';
@import './animate';
@import './vue';

td,
th {
    text-align: center !important;
    vertical-align: middle !important;
}

th,
.sticky-section {
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: white;
}

.sticky-section {
    padding: 2rem 0 1.5rem;
}

.nestedKeys {
    color: white;
    background-color: #363636 !important;
}

.changedKeys {
    background-color: #ffdd57 !important;
}

.form-switcher {
    height: 25px;
}

// util
.static-cell {
    width: 1%;
    white-space: nowrap;
}

.full-width {
    width: 100%;
}

.m-t-40 {
    margin-top: 40px;
}

.m-t-10 {
    margin-top: 10px;
}

.p-10 {
    padding: 10px;
}

.link {
    cursor: pointer;
}

.is-borderless {
    border: none;
}

// bulma
.tabs {
    margin-top: 50px !important;
    margin-bottom: 0 !important;
}

.table {
    word-break: break-word;

    th {
        word-break: initial;
    }

    td,
    th {
        vertical-align: middle;
    }
}

.tags {
    display: inline-flex;
    flex-wrap: nowrap;
}

.icon {
    vertical-align: sub;
}

.modal-card-foot {
    background-color: white;
}
