td,
th {
    text-align: center !important;
    vertical-align: middle !important;
}

.m-t-50 {
    margin-top: 50px;
}

.slide-fade-enter-active,
.slide-fade-leave-active {
    transition: all 0.2s ease;
}

.slide-fade-enter,
.slide-fade-leave-to {
    transform: translateX(10px);
    opacity: 0;
}

.nestedKey {
    color: white;
    background-color: #363636;
}

textarea {
    font-size: 1rem;
    line-height: 1.5;
    box-sizing: border-box;
    width: 100%;
    resize: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    color: #363636;
    border: none;
}
